.contactStore {
    background-color: #ffcf49;
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
}

.contact a {
    text-decoration: none;
    color: #000;
}

.contact .errorMessage {
    margin-top: 5px;
    color: red;
}

.contactStore p {
    margin: 5% 0px;
}

.contactStore span {
    font-weight: bold;
    text-transform: capitalize;
}

.contactWrapper {
    padding: 5% 0px;
    max-width: 1492px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.contactStore p.title {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    margin-bottom: 40px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
}

.contactForm {
    background-color: #d5f178;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    min-height: 470px;
}

.formArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formArea div {
    margin-top: 20px;
}

.contactForm div,
input,
textarea {
    width: 100%;
}

.contactForm label {
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
}

.contactForm span:nth-of-type(1) label {
    margin-top: 0px;
    margin-bottom: 5px;
}

.contactForm input,
.contactForm textarea {
    padding: 1rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
}

.contactForm textarea {
    resize: none;
}

.contactButton {
    color: white;
    padding: 0.7rem 2.3rem;
    background-color: #F56C40;
    font-size: 1.3rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 3px 3px 0px 0px black;
    margin-top: 2rem;
}

.contactButton:active {
    transform: scale(0.99, 0.99);
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.99, 0.99);
    -ms-transform: scale(0.99, 0.99);
    -o-transform: scale(0.99, 0.99);
}

.sentContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 100%;
}

.sentContact p{
    font-weight: bold;
    text-align: center;
}

.sentContact button {
    margin-top: 5%;
}

@media (max-width:850px) {

    .contact,
    .contactStore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactStore,
    .contactForm {
        margin-top: 0px;
        width: 100%;
    }

    .contactStore p {
        margin: 2% 0px;
    }


    .contactWrapper {
        height: fit-content;
    }

    .sentContact {
        min-height: 45vh;

    }

}

@media(max-width:434px){
    .contactStore p{
        text-align: left;
        width:100%;
    }
}