body, body *{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
      font-family: "Roboto", sans-serif;
   
}body{
    background-color: #FFF9F2;
}
 #root{
     scrollbar-gutter: stable;
     overflow-y: auto;
}
button{
        background-color: transparent;
    border:none;
    cursor: pointer;
}